*.log
.DS_Store
.env
.env.backup
.env.production
.eslintcache
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/coverage
/database/*.sqlite*
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/inertia-devtools
/storage/*.key
/storage/pail
/vendor
npm-debug.log*
yarn-debug.log*
yarn-error.log*
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
